[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[scripts]

up = 'gunicorn --config configure_gunicorn.py src.boiler:app'

[packages]
gunicorn = '*'
requests = '*'
flask = '*'

[dev-packages]
mamba = '*'
expects = '*'
